<div class="slider-wrap" (mouseenter)="toggleArrow()" (mouseleave)="toggleArrow()">
   <div [ngClass]="{'div-z-index': Zindex}" class="slider-main" appSlider 
   [(currentImage)]='currentImage' 
   [imageWidth]='imageWidth' 
   [itemsClone]='itemsClone'
   (numberImageSlide)="numberImageSlideReceived($event)"
   (sliderElement)="sliderElementReceived($event)"
   >
      <div *ngFor=" let serie of series">
         <div class="images-genre" *ngIf="serie.poster_path" appEffectZoomImg (mouseenter)="addZindex()" (mouseleave)="removeZindex()">
            <img class="images-genre-img" src="{{ urlBaseImageGenre }}{{ serie.poster_path }}" alt="image épisode" (click)="serieSend(serie)">
            <div class="images-genre-zoom" (click)="serieSend(serie)">
               <div *ngIf="serie.poster_path">
                  <img src="{{ urlBaseImageGenre }}{{ serie.poster_path }}" alt="image épisode">
               </div>
               <div class="text-effect-img p-2">
                  <p class="title-effect">{{ serie.name }}</p>
                  <p *ngIf="serie.overview">{{ serie.overview | truncateText}}</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div>
      <div [ngClass]="{'d-none': !arrowLeft}" class="arrow-left">
         <button class="left arrow-slider"  appPrev
         [imageWidth]='imageWidth' 
         [currentImage]='currentImage' 
         [slideVisible]='slideVisible' 
         [slider]='slider'
         (click)="goLeft()"
         >
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
               <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
         </button>
      </div>
      <div [ngClass]="{'d-none': !arrowRight}" class="arrow-right">
         <button  class="right arrow-slider" appNext
         [currentImage]='currentImage' 
         [slideVisible]='slideVisible'
         [slider]='slider'
         [itemsClone]='itemsClone'
         (imageWidth)="imageWidthReceived($event)" 
         (click)="goRight()"
         >
         
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
               <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
         </button>
      </div>
   </div>
</div>
