:root {
   --body-bg-color: #15202b;
   --secondary-color: #91a7be;
}

body {
   background-color: var(--body-bg-color) !important;
   color: white !important;
}

a {
   text-decoration: none !important;
   transition: color 0.5s ease-out;
   color: white !important;
}

a:visited, a:focus, a:active {
  color: inherit !important;
}

li {
   list-style: none;
}

button:focus {
   box-shadow: none !important;
}