
.card {
   background-color: var(--secondary-color);
   cursor: pointer;
   transition: background-color 0.5s ease-out;
   margin-left: 2px;
   margin-right: 2px;
}

.card:hover {
   background-color: white;
}

.card-img-top {
   min-height: 480px;
   height: auto;
}

.card-note {
   position: absolute;
   right: 0;
   top: -10px;
   background-color: var(--secondary-color) !important;
   color: var(--body-bg-color);
}

.badge {
   background-color: var(--body-bg-color) ;
   height: 25px;
   border-radius: 50% !important;
}

.card-body {
   color: var(--body-bg-color) !important;
}

.loading {
   margin-top: 30px;
   text-align: center;
}